

#p3{
	color: yellow;
}


*{
	font-family: Arial;
	font-size: 20px;
}

#for-h2{
	text-transform: uppercase;
}

.list-background{
	background-color: #82e8a7;
}

/* Medyo nalito po ako sa number 10 kaya ginamit ko nalang po ang: [attr=value] instead class selector
.list-border{
	border-style: solid;
  	border-color: #22a6d6;
 }*/

li[type="1"] {
 	border-style: solid;
  	border-color: #22a6d6;
 }

 h1{
 	font-size: 60px;
 }

 img+ul{
 		list-style-type: none;
 }
 ul>li{
 	letter-spacing: 5px;
 }
 body img {
 	height: 100px;
 	width: 100px;
 	border-radius: 50px;
 }
 ul~p{
 	text-align: center;
 }